* {
	margin: 0;
	padding: 0;
}

.container {
	display: grid;
	grid-template-rows: 10% auto 10%;
	height: 100vh;
}
header {
	display: flex;
	justify-content: center;
}
.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	margin: auto;
}
.nav__menu {
	position: relative;
}
.header__nav {
	position: absolute;
	right: 0;
}
main {
	display: grid;
	grid-template-rows: 10% 90%;
}
.main__top {
	display: flex;
	justify-content: center;
	align-items: center;
}

.main__bottom__left {
	display: flex;
	justify-content: center;
	margin: auto;
}


@media screen and (min-width: 700px) {
	.main__bottom {
		display: grid;
		grid-template-columns: 50% 50%;
	}
}