.container {
	background-image: url(../images/cherry-wood.jpg);
}

body {
}
header {
}

.header__nav__button {
	max-width: 25px;
	max-height: 25px;
}
.header__nav  {
	display: none;
}
.show__menu {
	display: flex;
	background-color: white;
	padding: 3px;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	border-radius: 5px;
}
ul li {
	margin-bottom: 12px;
}
ul li:hover {
	/*color: blue;*/
}
ul {
	list-style-type: none;
}
footer {
	/*border-top: solid;*/
}
.main__top {
	/*border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: black;*/
}
.main__bottom__left {
	width: 100%;
	height: 100%;

}
