.container {
	background-image: url(../images/cherry-wood.jpg);
}

body {
	/*background-color: goldenrod;*/
}
header {
	/*background-color: pink;*/
}
.post-it{
	font-family: arial, sans-serif;
	display: block;
 	color:#000;
 	overflow: hidden;
 	float: left;
 	background:#ffc;
 	height: 10em;
 	width: 10em;
 	padding: 1em;
 	/*making the box*/
 	-moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
 	-webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
 	box-shadow: 5px 5px 7px rgba(33,33,33,.7);
 	-moz-transition:-moz-transform .15s linear;
	-o-transition:-o-transform .15s linear;
	-webkit-transition:-webkit-transform .15s linear;
	/*Rotating the card*/
	-webkit-transform: rotate(-6deg);
	-o-transform: rotate(-6deg);
	-moz-transform:rotate(-6deg);
}
post-it:hover,post-it:focus{
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
}

.header__nav__button {
	max-width: 25px;
	max-height: 25px;
}
.header__nav  {
	display: none;
}
.show__menu {
	display: flex;
	background-color: white;
	padding: 3px;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	border-radius: 5px;
}
ul li {
	margin-bottom: 12px;
}
ul li:hover {
	/*color: blue;*/
}
ul {
	list-style-type: none;
}
footer {
	/*background-color: seagreen;*/
	border-top: solid;
}
.main__top {
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: black;
}
.main__bottom__right {
	padding: 10px;
	border-left-style: solid;
	border-left-width: 2px;
	border-left-color: black;
	background-color: #fff; 
	/*This puts in the notebook effect*/
	background-image: 
	linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
	linear-gradient(#eee .1em, transparent .1em);
	background-size: 100% 1.2em;
}