
body {
	background-image: url(../images/cherry-wood.jpg);
}
header {
}

.header__nav__button {
	max-width: 25px;
	max-height: 25px;
}
.header__nav  {
	display: none;
}
.show__menu {
	display: flex;
	background-color: white;
	padding: 3px;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	border-radius: 5px;
}
ul li {
	margin-bottom: 12px;
}
ul li:hover {
	/*color: blue;*/
}
ul {
	list-style-type: none;
}
footer {
	/*border-top: solid;*/
}
.main__top {
	/*border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: black;*/
}
.main__bottom__left {
	width: 100%;
	height: 100%;
}
.accountNameContainer {
	font-family: "Permanent Marker";
	font-size: 58px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	margin-bottom: 3rem;
}
.fund__details{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 80%
}
.fund__details__header {
	align-items: flex-end;
}
.fund__details__header, .fund__details__balance, .fund__details__mile__marker {
	display: flex;
	flex-direction: row;
}
.add__to__fund__button, .remove__from__fund__button, .add__to__mile__button, .remove__from__mile__button {
	background-color: rgba(0,0,0,0);
	border: none;
}
.fund__details__header__text {
	display: flex;
	font-size: 56px;
	align-self: center;
	font-family: "Permanent Marker";
}
.fund__name__edit__button {
	background-color: rgba(0,0,0,0);
	color: grey;
	margin-bottom: 1rem;
	width: 3%;
	height: 3%;
	border: none;
}
.fund__name__edit__button__img {
	width: 100%;
	height: 100%;
}





@keyframes expandWidth {
   0% { width: 0; }
   100% { width: 80%; }
}
.meter { 
	height: 20px;  /* Can be anything */
	position: relative;
	background: white;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
/* 	padding: 10px; */
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
  border-style: solid;
  border-width: 2px;
  border-color: lightgrey;
  width: 90%;
}
.meter > span {
  animation-name: expandWidth;
  animation-duration: 3s;
  width: 80%;
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
/*   background-color: rgb(43,194,83); */
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTz-4dw4NpKma6nK0QixW-ZdsrcIZwAFVXUi4MOzvsfa-hStnUzJQ);
  );
  box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}
